html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(178,83,19);
    text-decoration: none;
}

body > div:first-child{
    background-color: rgb(178,83,19);
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color:white;
    font-size: 20px;
}

body > div:first-child a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

body > div:first-child a:hover{
    background-color: rgb(40,43,45);
}

hr {
    display: none;
}

table{
    border: 1px solid;
    border-collapse: collapse;
    color: black;
}

td, th{
    padding: 5px;
}

h1, h2, h3{
    color: rgb(178,83,19);
}

button, input[type="submit"]{
    color: white;
    background-color: rgb(178,83,19);
    border: none;
}