<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% if title %}
        <title>{{ title }} - MobileServe</title>
        {% else %}
        <title>MobileServe</title>
        {% endif %}
    </head>
    <body>
         <div>
            MobileServe:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            {% if is_admin() %}
            <a href="{{ url_for('admin_dashboard') }}">Requests</a>
            <a href="{{ url_for('admin_students') }}">Students</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>